@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;



$color1: #d93636;
$color2: #b38686;
$color3: #660e00;
$color4: #e59173;
$color5: #ff6600;
$color6: #66381a;
$color7: #b2742d;
$color8: #ffaa00;
$color9: #998226;
$color10: #403c00;
$color11: #eef2b6;
$color12: #c3e639;
$color13: #61664d;
$color14: #00cc00;
$color15: #00b300;
$color16: #006600;
$color17: #005900;
$color18: #0d330d;
$color19: #8fbf9c;
$color20: #00e699;
$color21: #134d41;
$color22: #3df2e6;
$color23: #59adb3;
$color24: #002233;
$color25: #73b0e6;
$color26: #607180;
$color27: #334166;
$color28: #6c7bd9;
$color29: #2000f2;
$color30: #0e0066;
$color31: #6f00a6;
$color32: #220033;
$color33: #a486b3;
$color34: #d940ff;
$color35: #b359a1;
$color36: #ff00aa;
$color37: #731d56;
$color38: #ffbfd9;
$color39: #bf3056;
$color40: #591628;
$color41: #332628;

$color42: #76fbcc;
$color43: #8aeca0;
$color44: #a0da76;
$color45: #b5c651;
$color46: #c9af34;
$color47: #da9627;
$color48: #e8792d;
$color49: #f0583f;

body {
  padding: 0;
}

.content-wrapper {
  padding: 36px;
}

.flow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 377px); 
  grid-template-rows: auto;
  grid-auto-flow: row dense;
  grid-gap: 20px;
  margin-bottom: 80px;
  padding-bottom: 48px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: start; 
  align-content: start;
}

.page-wrapper {
  padding-bottom: 24px;
  display: grid;
  justify-content: start;
  align-content: start;
  box-sizing: border-box;
  grid-column: auto;
  grid-row: auto;
}

#title-bar {
  // background: dodgerblue;
  // width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
}

.page {
  background-color: lime;
  border:1px solid gray; 
  width: 375px;
  box-shadow: 0 3px 10px rgba(black, .2);
}
.flow-title {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 3rem;
}
.page-title {
  
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 700;
}
ul.modules  {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    padding: 12px;
    text-align: center;
    color: white;
    // box-shadow: inset 0 1px rgba(black,.4);
    border: 10px solid rgba(0,0,0,.1);
    // margin-bottom: 1pxl
  }
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  li {
    display: inline-block;
    margin-right: 24px;
  }
}

.header, .header-no-cart {
  background: $color1;
}

.navigation-wizard, .navigation-pager {
  background-color: $color2;
}

.descriptive-headline {
  background-color: $color3;
}

.flight-list {
  background-color: $color4;
}

.flight-item {
  background-color: $color5;
}

.action-bar, .action-bar-page, .action-bar-light {
  background-color: $color6;
}

.footer {
  background-color: $color7;
}

.modal-header {
  background: $color8;
}

.product-item-flight-list {
  background: $color9;
   
}

.product-item-flight {
     background: $color10;
   }

.person-list {
  background: $color11;
}

.person-item {
  background: $color12;
}

.notification-inline, .notification, .notification-success {
  background: red;
}

.button-cta {
  background: dodgerblue;
}

.structure-headline {
  background: $color13;
}

.form, .instant-form {
  background: $color16;
  * {
    background: $color17;
  }
}

.options-cockpit {
  background: $color18;
}

.teaser {
  background: pink;
}

.option-image {
  background: $color19;
}

.input, .input-half {
  background: $color20;
}

.input-half {
  width: 50%;
  float: left;
}

.check-box {
  background: $color21;
}

.counter {
  background: $color22;
}

.text-block-small {
  background: $color23;
}

.mixed-item-list {
  background: $color24;
}

.summary-footer {
  background: $color25;
}

.product-item-flight, .product-item-flight-bound, .product-item-selectable {
background: $color26;
}

.product-list {
  background: $color27;
}

.add-module, .add-module-person {
  background: $color28;
}

.list-sum {
  background: $color29;
}

.image-grid-small {
  background: $color30;
}

.total-price-footer {
  background: $color31;
}

.title {
  background: $color32;
}

.introduction {
  background: $color33;
}

.content-slider {
  background: $color34;
}

.partner-logos {
  background: $color35;
}

.accordion-search-widget {
  background: $color36;
}

.search-widget-flight {
  background: $color37;
}

.person-checkable {
  background: $color38;
}

.list-item-checkmark {
  background: $color39;
}

.search-summary {
  background: $color40;
}

.radio-button, .radio-button-half {
  background: $color41;
}

.dropdown, .dropdown-half {
  background: $color42;
}

.price-small {
  background: $color43;
}

.product-item-car, .product-item {
  background: $color44;
}

.date-picker {
  background: $color45;
}

.sum-money {
  background: $color46;
}

