@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;



$color1: #d93636;
$color2: #b38686;
$color3: #660e00;
$color4: #e59173;
$color5: #ff6600;
$color6: #66381a;
$color7: #b2742d;
$color8: #ffaa00;
$color9: #998226;
$color10: #403c00;
$color11: #eef2b6;
$color12: #c3e639;
$color13: #61664d;
$color14: #00cc00;
$color15: #00b300;
$color16: #006600;
$color17: #005900;
$color18: #0d330d;
$color19: #8fbf9c;
$color20: #00e699;
$color21: #134d41;
$color22: #3df2e6;
$color23: #59adb3;
$color24: #002233;
$color25: #73b0e6;
$color26: #607180;
$color27: #334166;
$color28: #6c7bd9;
$color29: #2000f2;
$color30: #0e0066;
$color31: #6f00a6;
$color32: #220033;
$color33: #a486b3;
$color34: #d940ff;
$color35: #b359a1;
$color36: #ff00aa;
$color37: #731d56;
$color38: #ffbfd9;
$color39: #bf3056;
$color40: #591628;
$color41: #332628;

$color42: #76fbcc;
$color43: #8aeca0;
$color44: #a0da76;
$color45: #b5c651;
$color46: #c9af34;
$color47: #da9627;
$color48: #e8792d;
$color49: #f0583f;

// new numbers

$color1: #502F7E;
$color2: #EEB200;
$color3: #FF6B61;
$color4: #3D6D4F;
$color5: #17E1E3;
$color6: #3C225F;
$color7: #96D0FF;
$color8: #A46798;
$color9: #B18AE0;
$color10: #87DCFA;
$color11: #00FDFF;
$color12: #5C22FF;
$color13: #C39D63;
$color14: #2C159D;
$color15: #89937A;
$color16: #FF9320;
$color17: #F64A00;
$color18: #2A4ED1;
$color19: #E10000;
$color20: #004E25;
$color21: #384D9D;
$color22: #F6F3EB;
$color23: #1F3B34;
$color24: #FFBC00;
$color25: #FFDBCF;
$color26: #CFFFFE;
$color27: #0606FF;
$color28: #CDFF06;
$color29: #FF4C06;
$color30: #0D29FF;
$color31: #E3E3E3;
$color32: #A68A73;
$color33: #1D0444;
$color34: #C26B6A;
$color35: #FFD101;
$color36: #F000EF;
$color37: #97B8A3;
$color38: #707C26;
$color39: #EF5B09;
$color40: #54120A;
$color41: #864BFF;
$color42: #15FFCF;
$color43: #042D5B;
$color44: #FC3C2D;
$color45: #0C485E;
$color46: #FCB903;
$color47: #121738;
$color48: #D17C78;
$color49: #12162D;
$color50: #8B743D;
$color51: #19AAD1;
$color52: #FFCC4C;
$color53: #674B7C;
$color54: #DD705C;
$color55: #1FDE91;
$color56: #FF0000;
$color57: #083EA7;
$color58: #000000;
$color59: #FF8FA4;
$color60: #62BFAD;
$color61: #F9F7E8;
$color62: #61BFAD;
$color63: #E54B4B;
$color64: #167C80;
$color65: #F03F35;
$color66: #B7E3E4;
$color67: #FF4552;
$color68: #EFE8D8;
$color69: #E13334;
$color70: #005397;
$color71: #32B67A;
$color72: #FACAC0;
$color73: #CEECF7;
$color74: #F3C9DD;
$color75: #E6625E;
$color76: #0BBCD6;
$color77: #BFB5D7;
$color78: #2D1FE8;
$color79: #BEA1A5;
$color80: #EBE8E1;
$color81: #F0CF61;
$color82: #0E38B1;
$color83: #0B0C11;
$color84: #A6CFE2;
$color85: #BBAB9B;
$color86: #371722;
$color87: #008E8F;
$color88: #C7C6C4;
$color89: #262F8A;
$color90: #CF2F89;
$color91: #D9BAAD;
$color92: #19227D;
$color93: #F1C3B8;
$color94: #FEDAC2;
$color95: #96CBD1;
$color96: #EF3E4A;
$color97: #012F63;
$color98: #FE667B;
$color99: #C0C2CE;
$color100: #162BF4;
$color101: #EEC0DB;
$color102: #C02A1B;
$color103: #B6CAC0;
$color104: #28356A;
$color105: #B32A48;
$color106: #C5BEAA;
$color107: #D31B33;
$color108: #FDF06F;
$color109: #BEDFD4;
$color110: #EDB5BD;
$color111: #F4F4F4;
$color112: #17C37B;
$color113: #14A19B;
$color114: #2C3979;
$color115: #EA1821;
$color116: #1B1D1C;
$color117: #181A27;
$color118: #E88565;
$color119: #1FC8A9;
$color120: #FFEFE5;
$color121: #008FD3;
$color122: #F4C7EE;
$color123: #77EEDF;
$color124: #E57066;
$color125: #28292B;
$color126: #EED974;
$color127: #0B64C0;
$color128: #FBFE56;
$color129: #C886A2;
$color130: #A7BBC3;
$color131: #E8E7D2;
$color132: #3C485E;
$color133: #E6E6E6;
$color134: #178E96;
$color135: #FDE3C8;
$color136: #055A5B;
$color137: #78A15D;
$color138: #E44A66;
$color139: #D3E8E1;
$color140: #5A3C20;
$color141: #FAE397;
$color142: #CBA0AA;
$color143: #CAE9BF;
$color144: #F9BDBD;
$color145: #9C9CDD;
$color146: #FEC8BE;
$color147: #20AD65;
$color148: #58B89D;
$color149: #E75152;
$color150: #4F3A4B;
$color151: #FBECCF;
$color152: #112378;
$color153: #FDEDB2;
$color154: #E33946;
$color155: #F79E7C;
$color156: #FEDCCC;
$color157: #EDC3C7;
$color158: #00B28B;
$color159: #9357A9;
$color160: #C98A6B;
$color161: #FF5035;
$color162: #C6D7C7;
$color163: #B1FDEB;
$color164: #BB828B;
$color165: #BEF6E9;
$color166: #9FA8E3;
$color167: #CC9AB5;
$color168: #776EA7;
$color169: #D7B599;
$color170: #EAEAEA;
$color171: #ABCEE2;
$color172: #481C19;
$color173: #EF303B;
$color174: #EC0B19;
$color175: #189BA3;
$color176: #FFFDE7;
$color177: #1539CF;
$color178: #F1D3D3;
$color179: #F3BFA9;
$color180: #D1E9E3;
$color181: #F2CB6C;
$color182: #3A745F;
$color183: #FAEED4;
$color184: #85CEBA;
$color185: #CE7082;
$color186: #9B8FFF;
$color187: #340B0B;
$color188: #0C3934;
$color189: #F8EBEE;
$color190: #E2B7C1;
$color191: #FF9966;

body {
  padding: 0;
}

.content-wrapper {
  padding: 36px;
}

.flow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 377px); 
  grid-template-rows: auto;
  grid-auto-flow: row dense;
  grid-gap: 20px;
  margin-bottom: 80px;
  padding-bottom: 48px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  align-items: start; 
  align-content: start;
}

.page-wrapper {
  padding-bottom: 24px;
  display: grid;
  justify-content: start;
  align-content: start;
  box-sizing: border-box;
  grid-column: auto;
  grid-row: auto;
}

#title-bar {
  // background: dodgerblue;
  // width: 100%;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 3rem;
}

.page {
  background-color: lime;
  border:1px solid gray; 
  width: 375px;
  box-shadow: 0 3px 10px rgba(black, .2);
}
.flow-title {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 3rem;
}
.page-title {
  
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 700;
}
ul.modules, ul.submodules  {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    padding: 12px;
    text-align: center;
    color: white;
    // box-shadow: inset 0 1px rgba(black,.4);
    border: 10px solid rgba(0,0,0,.1);
    // margin-bottom: 1pxl
    box-sizing: border-box;
  }
}

ul.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  li {
    display: inline-block;
    margin-right: 24px;
  }
}

.header, .header-no-cart {
  background: $color1;
}

.navigation-wizard, .navigation-pager, .navigation-pagination, .product-item-flight-segment-navigation {
  background-color: $color2;
}

.descriptive-headline {
  background-color: $color3;
}

.flight-list {
  background-color: $color4;
}

.flight-item {
  background-color: $color5;
}

.action-bar, .action-bar-page, .action-bar-light, .action-bar-multi, .action-bar-filter {
  background-color: $color6;
}

.footer {
  background-color: $color7;
}

.modal-header {
  background: $color8;
}

.product-item-flight-list {
  background: $color9;
   
}



.person-list {
  background: $color11;
}

.person-item {
  background: $color12;
}

.notification-inline, .notification, .notification-success {
  background: red;
}



.structure-headline {
  background: $color13;
}

.form, .instant-form {
  background: $color16;
  * {
    background: $color17;
  }
}

.options-cockpit {
  background: $color18;
}



.option-image {
  background: $color19;
}

.input, .input-half {
  background: $color20;
}

.input-half {
  width: 50%;
  float: left;
}

.check-box {
  background: $color21;
}

.counter {
  background: $color22;
}

.text-block-small, .text-block-product-description {
  background: $color23;
}

.mixed-item-list {
  background: $color24;
}

.summary-footer {
  background: $color25;
}



.product-list {
  background: $color27;
}

.add-module, .add-module-address, .add-module-person, .add-module-payment, .add-module-confirmed-person, .add-module-confirmed-payment, .add-module-confirmed  {
  background: $color28;
}

.list-sum {
  background: $color29;
}

.image-grid-small {
  background: $color30;
}

.total-price-footer {
  background: $color31;
}

.title {
  background: $color32;
}

.introduction {
  background: $color33;
}

.content-slider {
  background: $color34;
}

.partner-logos {
  background: $color35;
}

.accordion-search-widget {
  background: $color36;
}

.search-widget-flight {
  background: $color37;
}

.person-checkable {
  background: $color38;
}

.list-item-checkmark {
  background: $color39;
}

.search-summary, .search-summary-flight {
  background: $color40;
}

.radio-button, .radio-button-half {
  background: $color41;
}

.dropdown, .dropdown-half {
  background: $color42;
}

.dropdown-half {
  width:50%;
  float: left;
}

.price-small {
  background: $color43;
}

.product-item-car, .product-item, .product-item-icon  {
  background: $color44;
}

.date-picker, .date-picker-half {
  background: $color45;
}
.date-picker-half {
  width: 50%;
  float: left;
}
.sum-money {
  background: $color46;
}
.sum-money-sub {
  background: darken($color46, 10%);
}

.multi-select {
  background: $color47;
}

.slider, .range-slider {
  background: $color48;
}

.expandable, .expandable-widget {
  background: $color49;
}

.expandable-2nd {
  background: lighten($color49,  10%);
}

.seat-map {
  background: $color50;
}

.compartment-header {
  background: $color51;
}

.option-segmented {
  background: $color52;
}

.button-cta {
  background: $color53;
  
}

.teaser {
  background: $color54;
}

.teaser-small {
  background: darken($color54, 10%);
}

.teaser-slider, .teaser-confirmation {
  background: darken($color54, 20%);
}

.site-content {
  background: $color55;
}

.pax-counter {
  background: $color56;
}

.filter-bar {
  background: $color57;
}

.list-sorter {
  background: $color58;
}

.cabin-selection {
  background: $color59;
}

.fare-selector {
  background: $color60;
}

.text-item-list {
  background: $color61;
}

.fare-label-half {
  background: $color62;
  width: 50%;
  float: left;
}

.price-large-half {
  background: $color63;
  width: 50%;
  float: left;
}

.info-half {
  background: $color64;
}

.asterisk-text {
  background: $color65;
}

.cockpit-stage {
  background: $color66;
}

.plain-button-function, .plain-button-function-half {
  background: $color67;
}

.plain-button-function-half {
  width: 50%;
  float: left;
  overflow: hidden;
}

.cui-status {
  background: $color68;
}

.link-list-item {
  background: $color69;
}

.highlight-area {
  background: $color70;
}

.category-navigation-slider {
  background: $color71;
}

.product-image {
  background: $color72;
}

.navigation-page-tabs {
  background: $color73;
}

.category-image-stage {
  background: $color74;
}

.zoomed-image {
  background: $color75;
}

.plain-button {
  background: $color76;
}

.list-item-2nd {
  background: $color77;
}

.product-item-flight, .product-item-flight-selectable, .product-item-insurance, .product-item-voucher {
     background: $color78;
   }

   .product-item-flight, .product-item-flight-min, .product-item-flight-bound, .product-item-selectable, .product-list-item {
background: $color78;
}