---
layout: default
---

<div class="content-wrapper">
  

<div id="title-bar">

  <h1>Floor Plans</h1>
</div>

{% for item in site.data.floorplans.flows %}
    <h2 class="flow-title">{{forloop.index}}. {{item.title}}</h2>
<div class="flow">

    {% for page in item.pages %}
  <div class="page-wrapper">
          <h3 class="page-title">
            {{page.title}}
          </h3>
        <div class="page">
          <ul class="modules">
          {% for module in page.modules %}
            <li class="module {{module.module}}">
              {{module.module}}
              <ul class="submodules">
              {% for submod in module.submodules %}
                <li class="submodule {{submod.sub}}">{{submod.sub}}</li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
  </div>
    {% endfor %}
</div>
{% endfor %}
</div>