---
layout: default
---

<h1>Floor Plans</h1>

{% for item in site.data.floorplans.flows %}
<div class="flow">

    <h2 class="page-title">floor-plan: {{item.title}}</h2>
    {% for page in item.pages %}
  <div class="page-wrapper">
      <div class="page-wrapper">
          <h3>
            page: {{page.title}}
          </h3>
        <div class="page">
          <ul class="modules">
          {% for module in page.modules %}
            <li class="module {{module.module}}">
              mod: {{module.module}}
              <ul class="submodules">
              {% for submod in module.submodules %}
                <li class="submodule {{submod.sub}}">sub-mod: {{submod.sub}}</li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
  </div>
    {% endfor %}
</div>
{% endfor %}